<%- include('partials/header') %>
<h3>
    <%= campground.name %>
</h3>

<img src="<%= campground.image %>" alt="">

<p>
    <%= campground.description || 'No description provided!' %>
</p>
    <% for (let comment of campground.comments) { %>
        <p>
            <em><%= comment.author %></em>: <%= comment.text %>
        </p>
    <% } %>

<%- include('partials/footer') %>